_CICWEBIntegration/Web References/fPASAXInvoiceJournalService/xppservice4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CICFPASAPInvoiceJournalServiceCreateInvoiceJournalRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="journalType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trnsDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ledgerAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dimensions" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invoice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amountDebit" type="xs:decimal" />
        <xs:element minOccurs="0" name="amountCredit" type="xs:decimal" />
        <xs:element minOccurs="0" name="offsetAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offsetDimensions" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="methodOfPayment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CICFPASAPInvoiceJournalServiceCreateInvoiceJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>