_CICWEBIntegration/Web References/fPASAXPaymentJournalService/xppservice0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://erptest.cicdom.local/MicrosoftDynamicsAXAif60/CICFPASAPPaymentJournal/xppservice.svc?xsd=xsd0" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://erptest.cicdom.local/MicrosoftDynamicsAXAif60/CICFPASAPPaymentJournal/xppservice.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://erptest.cicdom.local/MicrosoftDynamicsAXAif60/CICFPASAPPaymentJournal/xppservice.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://erptest.cicdom.local/MicrosoftDynamicsAXAif60/CICFPASAPPaymentJournal/xppservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://erptest.cicdom.local/MicrosoftDynamicsAXAif60/CICFPASAPPaymentJournal/xppservice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://erptest.cicdom.local/MicrosoftDynamicsAXAif60/CICFPASAPPaymentJournal/xppservice.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CICFPASAPPaymentJournalServiceSendPaymentJournalRequest">
    <wsdl:part name="parameters" element="tns:CICFPASAPPaymentJournalServiceSendPaymentJournalRequest" />
  </wsdl:message>
  <wsdl:message name="CICFPASAPPaymentJournalServiceSendPaymentJournalRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="CICFPASAPPaymentJournalServiceSendPaymentJournalResponse">
    <wsdl:part name="parameters" element="tns:CICFPASAPPaymentJournalServiceSendPaymentJournalResponse" />
  </wsdl:message>
  <wsdl:message name="CICFPASAPPaymentJournalService_sendPaymentJournal_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:portType name="CICFPASAPPaymentJournalService">
    <wsdl:operation name="sendPaymentJournal">
      <wsdl:input wsaw:Action="http://tempuri.org/CICFPASAPPaymentJournalService/sendPaymentJournal" name="CICFPASAPPaymentJournalServiceSendPaymentJournalRequest" message="tns:CICFPASAPPaymentJournalServiceSendPaymentJournalRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/CICFPASAPPaymentJournalService/sendPaymentJournalResponse" name="CICFPASAPPaymentJournalServiceSendPaymentJournalResponse" message="tns:CICFPASAPPaymentJournalServiceSendPaymentJournalResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CICFPASAPPaymentJournalService/sendPaymentJournalAifFaultFault" name="AifFaultFault" message="tns:CICFPASAPPaymentJournalService_sendPaymentJournal_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>