_CICWEBIntegration/Web References/fPASAXCustomerService/xppservice0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://erptest.cicdom.local/MicrosoftDynamicsAXAif60/CICFPASCustomerCreation/xppservice.svc?xsd=xsd0" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://erptest.cicdom.local/MicrosoftDynamicsAXAif60/CICFPASCustomerCreation/xppservice.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://erptest.cicdom.local/MicrosoftDynamicsAXAif60/CICFPASCustomerCreation/xppservice.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://erptest.cicdom.local/MicrosoftDynamicsAXAif60/CICFPASCustomerCreation/xppservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://erptest.cicdom.local/MicrosoftDynamicsAXAif60/CICFPASCustomerCreation/xppservice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://erptest.cicdom.local/MicrosoftDynamicsAXAif60/CICFPASCustomerCreation/xppservice.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CICFPASCustomerCreationServiceCreateNewCustomerRequest">
    <wsdl:part name="parameters" element="tns:CICFPASCustomerCreationServiceCreateNewCustomerRequest" />
  </wsdl:message>
  <wsdl:message name="CICFPASCustomerCreationServiceCreateNewCustomerRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="CICFPASCustomerCreationServiceCreateNewCustomerResponse">
    <wsdl:part name="parameters" element="tns:CICFPASCustomerCreationServiceCreateNewCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CICFPASCustomerCreationService_createNewCustomer_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="CICFPASCustomerCreationServiceFindCustomerRequest">
    <wsdl:part name="parameters" element="tns:CICFPASCustomerCreationServiceFindCustomerRequest" />
  </wsdl:message>
  <wsdl:message name="CICFPASCustomerCreationServiceFindCustomerRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="CICFPASCustomerCreationServiceFindCustomerResponse">
    <wsdl:part name="parameters" element="tns:CICFPASCustomerCreationServiceFindCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CICFPASCustomerCreationService_findCustomer_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="CICFPASCustomerCreationServiceUpdateCustomerRequest">
    <wsdl:part name="parameters" element="tns:CICFPASCustomerCreationServiceUpdateCustomerRequest" />
  </wsdl:message>
  <wsdl:message name="CICFPASCustomerCreationServiceUpdateCustomerRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="CICFPASCustomerCreationServiceUpdateCustomerResponse">
    <wsdl:part name="parameters" element="tns:CICFPASCustomerCreationServiceUpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CICFPASCustomerCreationService_updateCustomer_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:portType name="CICFPASCustomerCreationService">
    <wsdl:operation name="createNewCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/CICFPASCustomerCreationService/createNewCustomer" name="CICFPASCustomerCreationServiceCreateNewCustomerRequest" message="tns:CICFPASCustomerCreationServiceCreateNewCustomerRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/CICFPASCustomerCreationService/createNewCustomerResponse" name="CICFPASCustomerCreationServiceCreateNewCustomerResponse" message="tns:CICFPASCustomerCreationServiceCreateNewCustomerResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CICFPASCustomerCreationService/createNewCustomerAifFaultFault" name="AifFaultFault" message="tns:CICFPASCustomerCreationService_createNewCustomer_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="findCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/CICFPASCustomerCreationService/findCustomer" name="CICFPASCustomerCreationServiceFindCustomerRequest" message="tns:CICFPASCustomerCreationServiceFindCustomerRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/CICFPASCustomerCreationService/findCustomerResponse" name="CICFPASCustomerCreationServiceFindCustomerResponse" message="tns:CICFPASCustomerCreationServiceFindCustomerResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CICFPASCustomerCreationService/findCustomerAifFaultFault" name="AifFaultFault" message="tns:CICFPASCustomerCreationService_findCustomer_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/CICFPASCustomerCreationService/updateCustomer" name="CICFPASCustomerCreationServiceUpdateCustomerRequest" message="tns:CICFPASCustomerCreationServiceUpdateCustomerRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/CICFPASCustomerCreationService/updateCustomerResponse" name="CICFPASCustomerCreationServiceUpdateCustomerResponse" message="tns:CICFPASCustomerCreationServiceUpdateCustomerResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CICFPASCustomerCreationService/updateCustomerAifFaultFault" name="AifFaultFault" message="tns:CICFPASCustomerCreationService_updateCustomer_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>