_CICWEBIntegration/Web References/fPASAXCustomerService/xppservice1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CICFPASCustomerCreationServiceCreateNewCustomerRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="middleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maritalStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kraPin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custgroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordtype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CICFPASCustomerCreationServiceCreateNewCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CICFPASCustomerCreationServiceFindCustomerRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kraPin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CICFPASCustomerCreationServiceFindCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CICFPASCustomerCreationServiceUpdateCustomerRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kraPin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="acountname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankbranchcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CICFPASCustomerCreationServiceUpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>